<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <form action="login" method="post">
            <p>
                <strong>login:</strong>
                <input maxlength="128" size="40" name="login">
            </p>
            <p>
                <strong>password:</strong>
                <input type="password" maxlength="128" size="40" name="password">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </body>
</html>
