<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pdf page</title>
    </head>
    <body>
        <form action="/logout">
            <input type="submit" value="Logout" />
        </form>
        <hr size="2" color="#ff0000" />
        <form action="/pdf" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" name="fileupload" value="fileupload" id="fileupload" accept=".pdf" required>
            </div>
            <div>
                <input type="submit" value="upload" id="submit"/>
            </div>
        </form>
        <hr size="2" color="#ff0000" />
        <table id="pdf_list" border="1">
            <thead>
            <tr>
                <th>user</th>
                <th>pdf</th>
                <th>timestamp</th>
                <th>link to png table</th>
            </tr>
            </thead>
            <tbody>
                {% for item in pdf_list %}
                <tr>
                    <td>{{item.login}}</td>
                    <td><a href="{{item.pdf_link}}">{{item.filename}}</a></td>
                    <td>{{item.timestamp}}</td>
                    <td><a href="{{item.png_table_link}}">PNG table</a></td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </body>
</html>

